.msg-option {
  display: inline-flex;

  &-item {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    border-radius: 50%;
  }

  .icon:hover {
    background-color: rgba($color: #fff, $alpha: 20%);
  }

  .reply {
    background-image: url('@/assets/icons/icon_reply.svg');
  }

  .like {
    background-image: url('@/assets/icons/icon_like.svg');
  }

  .like-active {
    background-image: url('@/assets/icons/icon_liked.svg');
  }

  .dislike {
    background-image: url('@/assets/icons/icon_like.svg');
    transform: rotate(180deg);
  }

  .dislike-active {
    background-image: url('@/assets/icons/icon_liked.svg');
  }
}
