.msg-option {
  display: inline-flex;
  padding: 2px 4px;

  &-item {
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-radius: 4px;
  }

  &-item:hover {
    background-color: rgba($color: #272a37, $alpha: 40%);
  }

  .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #fff;
    border-radius: 50%;
  }

  .icon:hover {
    color: #165dff;
  }

  .more,
  .reply {
    width: 14px;
    height: 14px;
  }

  .like-active {
    color: #fe2c55;
  }

  .dislike-active {
    color: #bebebe;
  }
}
