.msg-option {
  display: inline-flex;
  padding: 2px 4px;

  &-item {
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    border-radius: 4px;
  }

  &-item:hover {
    background-color: var(--background-dark);
  }

  .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: var(--font-main);
    border-radius: 50%;
  }

  .icon:hover {
    color: var(--color-primary);
  }

  .more,
  .reply {
    width: 14px;
    height: 14px;
  }

  .like-active {
    color: var(--font-pink);
  }

  .dislike-active {
    color: var(--color-light-1);
  }
}
