.side {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
  height: 100%;
  padding: 20px 10px;
  overflow: hidden;
}

.add-group {
  margin-left: auto;
}

.side-collapse {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;

  // height: 100%;
  overflow: hidden;
  border-top-width: 0;
  border-bottom-width: 0;
}

:deep(.el-collapse-item.is-active) {
  display: flex;

  // flex: 1;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

:deep(.el-collapse-item.is-active .el-collapse-item__content) {
  height: 100%;
  padding-bottom: 0;
}

.item-info {
  display: flex;
  flex: 1;
  align-items: center;
  height: 48px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: var(--background-2);
  }

  &-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 18px;
    margin-left: 8px;
    overflow: hidden;
  }

  &.contact-item {
    .item-info-right {
      justify-content: center;
    }
  }

  &-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
  }

  &-accept-btn {
    font-size: 12px;
    color: var(--color-white);
    appearance: none;
    cursor: pointer;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
  }

  &-accept-text {
    font-size: 12px;
    color: var(--font-gray);
  }

  &-msg {
    overflow: hidden;
    font-size: 12px;
    color: var(--font-light);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.read-unread-list {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow: auto;
}

.avatar {
  min-width: 40px;
}
