@import './base.css';

#app {
  /* margin: 0 auto; */
  font-weight: normal;
  min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  /* background-color: transparent; */
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

[hidden] {
  display: none !important;
}
