.user-list {
  list-style-type: none;
  margin-top: 8px;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  row-gap: 2px;

  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  // 取消滚动链接
  overscroll-behavior-y: contain;
  overflow-y: auto;

  :deep(.el-loading-mask) {
    background-color: var(--color-background-black-mute);
  }

  &-box {
    position: relative;
  }

  &-mask {
    transition: background-color 0.3s ease;

    &.show {
      position: fixed;
      top: 66px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
    }
  }

  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    filter: grayscale(1);
    padding: 5px 2px;
    border-radius: 4px;
    cursor: default;
    // content-visibility: auto;

    &:hover {
      background-color: rgba(#fff, 0.1);
    }

    &.item-online {
      filter: grayscale(0);
    }
  }

  .list-no-data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--font-light);
  }

  .item-avatar-wrapper {
    position: relative;
  }

  .item-online-status {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border: 1px solid #fff;
    border-radius: 50px;
  }

  .item-avatar {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 8px;
  }

  &-wrapper {
    width: 200px;
    height: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--color-gray-bg);
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: -16px;
    bottom: 16px;
    transition: transform 0.3s ease;
    transform: translateX(100%);

    &.show {
      transform: translateX(-16px);
    }
  }

  &-header {
    padding-bottom: 8px;
  }
}

.list-last-visible-el {
  width: 100%;
  height: 1px;
  line-height: 1px;
  z-index: 10;
  pointer-events: none;
  display: none;
}

@media only screen and (min-width: 640px) {
  .user-list-wrapper {
    position: relative;
    top: 0;
    right: 0;
    // right: -200px;
    transform: translateX(0);

    &.show {
      transform: translateX(0);
    }
  }

  .user-list-mask.show {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    background-color: transparent;
  }
}
