.chat-box {
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 16px;
  overflow: hidden;
}

.chat-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  height: 100%;
  flex: 1;
  border-radius: 8px;
  background-color: var(--color-gray-bg);
  display: flex;
  flex-direction: column;
}

.chat-msg-send {
  padding: 10px 20px 20px;
  font-size: 0;

  .reply-msg-wrapper {
    background-color: #424656;
    font-size: 12px;
    margin-bottom: 12px;
    padding: 4px 12px;
    border-radius: 8px;
    color: var(--font-light);
    display: flex;
    align-items: center;
    column-gap: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .reply-msg-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .reply-msg-icon {
    cursor: pointer;
    margin-left: auto;
    border-radius: 4px;

    &:hover {
      background-color: var(--color-gray-bg);
    }
  }

  .msg-input-box {
    display: flex;
    align-items: center;
  }

  .chat-not-login-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    user-select: none;
  }

  .login-link {
    margin-left: 4px;
    margin-right: 4px;
    color: var(--color-primary);
  }

  .msg-input-wrapper {
    position: relative;
    flex: 1;
    margin: 0;
    margin-right: 20px;
  }

  .msg-input {
    :deep(.el-textarea__inner) {
      width: 100%;
      background-color: #424656;
      border-radius: 16px;
      border: none;
      padding: 10px;
      resize: none;
      transition: 0.2s;
      font-size: 14px;
      color: #fff;
      box-sizing: border-box;
      transition: 0.2s;
      box-shadow: none;

      &:focus {
        outline: 2px solid #2287e1;
      }
    }
  }

  .emoji-button,
  .send-button {
    background-color: var(--color-primary);
    border: 0;
    padding: 0;
    transition: 0.3s;
    box-shadow: 0 0 5px 0 #08f;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    font-size: 24px;
    padding-top: 4px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px 0 #08f;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .emoji-button {
    margin-right: 10px;
  }
}

.emoji-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}

.emoji-item {
  font-size: 24px;
  line-height: 1;
  width: 30px;
  height: 30px;
  margin-top: 3px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #424656;
  }
}

@media only screen and (min-width: 640px) {
  .chat-box {
    padding: 20px;
    padding-left: 0;
  }

  .chat-wrapper {
    margin-right: 20px;
  }
}
