.user-list {
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 2px;
    cursor: default;
    filter: grayscale(1);
    border-radius: 4px;

    // content-visibility: auto;

    &:hover {
      background-color: var(--background-mask);
    }

    &.item-online {
      filter: grayscale(0);
    }
  }

  .item-avatar-wrapper {
    position: relative;
  }

  .item-online-status {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 10px;
    height: 10px;
    background-color: var(--color-online);
    border: 1px solid var(--color-white);
    border-radius: 50px;
  }

  .item-avatar {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
  }
}
