.chat-message {
  display: none;
  padding: 4px;
  margin: 20px 10px;
  overflow-y: auto;

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 60px;
    padding: 12px 10px;
    color: var(--el-color-info-light-7);
    cursor: pointer;
    background-color: var(--color-gray-bg);
    border-radius: 8px;

    .el-avatar {
      flex: none;
    }

    .message-info {
      padding: 0 10px;
      margin-right: auto;

      .person {
        font-size: 14px;
      }

      .tag {
        display: inline-block;
        padding: 1px 4px;
        margin-left: 4px;
        font-size: 12px;
        font-weight: bold;
        color: #c59512;
        background-color: #efe2bb;
        border-radius: 4px;
        transform: scale(0.8);
      }

      .message-message {
        display: -webkit-box;
        overflow: hidden;
        font-size: 12px;
        color: var(--font-light);
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    .message-time {
      font-size: 12px;
      color: var(--font-light);
    }

    &:hover {
      background-color: #484d5f;
      transition: 0.3s;
    }

    &:not(:first-child) {
      margin-top: 4px;
    }

    &.active {
      background-color: var(--vt-c-indigo);
    }
  }
}

@media only screen and (width >=1400px) {
  .chat-message {
    display: block;
  }
}
