.side-toolbar {
  display: flex;
  align-items: center;
  padding: 16px;
  padding-bottom: 0;
  color: var(--font-main);

  &_avatar {
    cursor: pointer;

    --el-avatar-size: 32px;
  }
}

.operate-icons {
  display: flex;
  column-gap: 8px;
  align-items: flex-start;
  margin-left: 16px;
  font-size: 0;
}

.operate-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu-icon {
  margin-left: auto;
}

.icon-github {
  background-image: url('@/assets/icons/icon_github.svg');
}

.icon-bilibili {
  background-image: url('@/assets/icons/icon_bilibili.svg');
}

.icon-tencent-cloud {
  background-image: url('@/assets/icons/icon_tencent_cloud.svg');
}

.icon-tiktok {
  background-image: url('@/assets/icons/icon_tiktok.svg');
}

.icon-wechat {
  background-image: url('@/assets/icons/icon_wechat.svg');
}

.icon-yuque {
  background-image: url('@/assets/icons/icon_yuque.png');
}

.operate-icon-text {
  margin-top: 4px;
  font-size: 12px;
}

.operate-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-wechat-qrcode {
  width: 200px;
}

@media only screen and (min-width: 640px) {
  .side-toolbar {
    flex-direction: column;
    width: 80px;
    height: 100%;
    padding: 20px 0;
  }

  .operate-icons {
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-top: auto;
    margin-left: 0;
  }

  .operate-icon-text {
    margin-top: 2px;
    font-size: 8px;
  }

  .menu-icon {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .side-toolbar {
    &-avatar {
      --el-avatar-size: 56px;
    }
  }
}
