.side_toolbar {
  color: #fff;
  padding: 16px;
  display: flex;
  padding-bottom: 0;
  align-items: center;

  &_avatar {
    cursor: pointer;
    --el-avatar-size: 32px;
  }
}

.operate-icons {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  font-size: 0;
  margin-left: 16px;
}

.operate-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-icon {
  margin-left: auto;
}

.icon-github {
  background-image: url(@/assets/icons/icon_github.svg);
}

.icon-bilibili {
  background-image: url(@/assets/icons/icon_bilibili.svg);
}

.icon-tiktok {
  background-image: url(@/assets/icons/icon_tiktok.svg);
}

.icon-wechat {
  background-image: url(@/assets/icons/icon_wechat.svg);
}

.icon-yuque {
  background-image: url(@/assets/icons/icon_yuque.png);
}

.operate-icon-text {
  font-size: 12px;
  margin-top: 4px;
}

.operate-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-wechat-qrcode {
  width: 200px;
}

@media only screen and (min-width: 640px) {
  .side_toolbar {
    width: 80px;
    padding: 20px 0;
    height: 100%;
    flex-direction: column;
  }

  .operate-icons {
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    row-gap: 16px;
    margin-left: 0;
  }

  .operate-icon-text {
    font-size: 8px;
    margin-top: 2px;
  }

  .menu-icon {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .side_toolbar {
    &_avatar {
      --el-avatar-size: 56px;
    }
  }
}
