.user-list {
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 2px;
    cursor: default;
    border-radius: 4px;

    // content-visibility: auto;

    &:hover,
    &:focus {
      background-color: var(--background-mask);
    }

    .avatar {
      margin-right: 8px;
    }
  }

  .user-name {
    display: flex;

    .text {
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .badge {
      padding: 2px 4px;
      margin-left: 5px;
      font-size: 10px;
      border-radius: 3px;
    }

    .lord {
      color: #777;
      background-color: #f2c55c;
      border: 1px solid #fff;
    }

    .admin {
      color: #fff;
      background-color: #aa6d4b;
      border: 1px solid #fff;
    }
  }
}
