.user-list {
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 2px;
    cursor: default;
    border-radius: 4px;

    // content-visibility: auto;

    &:hover,
    &:focus {
      background-color: var(--background-mask);
    }

    .avatar {
      margin-right: 8px;
    }
  }
}
