.user-list {
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 2px;
    cursor: default;
    border-radius: 4px;

    // content-visibility: auto;

    &:hover,
    &:focus {
      background-color: var(--background-mask);
    }

    .avatar {
      margin-right: 8px;
    }
  }

  .badge {
    padding: 2px 4px;
    border: 1px solid #fff;
    border-radius: 3px;
  }

  .lord {
    color: #777;
    background-color: #f2c55c;
  }

  .admin {
    color: #fff;
    background-color: #aa6d4b;
  }
}
