:global(.login-box-modal) {
  border-radius: 8px !important;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.login-box-modal .el-dialog--header) {
  padding: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.login-box-modal .el-dialog--headerbtn) {
  z-index: 5;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-qrcode-wrapper {
  width: 328px;
  height: 328px;
}

.login-logo {
  width: 100px;
  border-radius: 8px;
}

.login-slogan {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 14px;
  color: rgb(0 0 0 / 45%);
}

.login-desc {
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: 16px;
}

.login-desc-icon {
  margin-right: 8px;
}

.login-desc-bold {
  font-weight: bold;
  color: #2aae67;
}
