:global(.login-box-modal) {
  border-radius: 8px !important;
}

:global(.login-box-modal .el-dialog__header) {
  padding: 0;
}

:global(.login-box-modal .el-dialog__headerbtn) {
  z-index: 5;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-qrcode-wrapper {
  width: 328px;
  height: 328px;
}

.login-logo {
  width: 100px;
  border-radius: 8px;
}

.login-slogan {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 14px;
  color: var(--font-light);
}

.login-desc {
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: 16px;
}

.login-desc-icon {
  margin-right: 8px;
}

.login-desc-bold {
  font-weight: bold;
  color: var(--color-wechat);
}
