.home {
  width: 100%;
  height: 100%;
}

.wrapper {
  // border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  height: 100dvh;
  color: var(--font-main);
  background-color: var(--background-wrapper);
}

@media only screen and (min-width: 640px) {
  .wrapper {
    position: relative;
    flex-direction: row;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 10vh;
    border-radius: 16px;
  }
}

.footer {
  margin-top: 4vh;
  font-size: 12px;
  color: var(--font-main);
  text-align: center;
}
